<%- include ('modules/header.ejs'); %>
<main>
    <%- include ('modules/our-story.ejs'); %>

    <%- include ('modules/watch-video.ejs'); %>

    <%- include ('modules/expertise.ejs'); %>

    <%- include ('modules/our-team.ejs'); %>

    <%- include ('modules/our-works.ejs'); %>

    <%- include ('modules/reviews.ejs'); %>

    <%- include ('modules/contact.ejs'); %>
</main>
<%- include ('modules/footer.ejs'); %>